.dashboard-container {
  display: flex;
  height: 100vh;
  background-color: #2e323b;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Left Sidebar */
.sidebar {
  width: 275px;
  background-color: #1a1d22;
  border-right: 1px solid #2b2e34;
  /* position: relative;
  display: flex;
  flex-direction: column; */
}

/* Footer positioning inside sidebar */
.sidebar-footer {
  position: absolute;
  bottom: 10px;
  /* left: 16px;  */
  z-index: 10;
}

:host ::ng-deep .sidebar-footer nav {
  position: static !important;
  bottom: auto !important;
  left: auto !important;
  width: auto !important;
  background: transparent !important;
  z-index: auto !important;
}

/* :host ::ng-deep .sidebar-footer nav span {
  color: #94a3b8 !important;
  padding: 0 !important;
  float: none !important;
  font-size: 12px !important;
} */

:host ::ng-deep .sidebar-footer nav a {
  color: #3b82f6 !important;
  font-size: 12px !important;
}

/* Main Section (header + content) */
.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2e323b;
}

/* Main Content Area */
.content-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder img {
  width: 300px;
  opacity: 0.8;
}
.layout-buttons {
  margin-bottom: 10px;
  text-align: center;
}

.video-grid {
  display: grid;
  grid-gap: 4px;
  width: 100%;
  height: 100%;
}

.video-cell {
  background: #000;
  position: relative;
}

.video-container {
  padding: 0 !important;
  position: relative !important;
}
.video-elem {
  /* object-fit: cover; */
  object-fit: unset;
  width: 100%;
  max-height: 750px !important;
}

/* .video-header-icon {
  position: absolute !important;
  top: -30px !important; 
  left: 10px; 
  z-index: 100;
  right: auto;
}

.video-header-icon:nth-child(2) {
  right: 10px;
  left: auto;
  top: -30px !important;
  z-index: 100;
  position: absolute !important;
} */

.video-parameters {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bolder;
  pointer-events: none; /* important */
}

.video-container-centeredOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Don't block mouse */
}
