<header class="navbar">
  <nav class="nav-left">
    <a
      href="/ivmsweb/live-matrix"
      routerLink="/ivmsweb/live-matrix"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="tabChanged('Dashboard')"
      >Dashboard</a
    >

    <a
      href="/ivmsweb/event-search"
      routerLink="/ivmsweb/event-search"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="tabChanged('Events')"
      >Events</a
    >

    <a
      href="/ivmsweb/archive-matrix"
      routerLink="/ivmsweb/archive-matrix"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="tabChanged('Archive')"
      >Archive</a
    >

    <a
      href="/ivmsweb/user-details"
      routerLink="/ivmsweb/user-details"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="tabChanged('Profile')"
      >Profile</a
    >
    <!-- <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="tabChanged('Configuration')"
    >Configuration</a> -->
  </nav>

  <div class="nav-right">
    <div class="dropdown" *ngIf="showDropdown">
      <button class="dropbtn">▦ {{ currentLayout }}</button>

      <div class="dropdown-content">
        <a *ngFor="let layout of layout.allowedLayouts()" (click)="selectLayout(layout)">
          {{ layout }}
        </a>
      </div>
    </div>

    <a routerLink="/ivmsweb/login" class="signout" (click)="signOut()">Signout</a>
  </div>
</header>
