.archive-container {
  display: flex;
  height: 100vh;
  background-color: #2e323b;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Left Sidebar */
.sidebar {
  width: 275px;
  background-color: #1a1d22;
  border-right: 1px solid #2b2e34;
  /* position: relative;
  display: flex;
  flex-direction: column; */
}

/* Footer positioning inside sidebar */
.sidebar-footer {
  position: absolute;
  bottom: 10px;
  /* left: 16px;  */
  z-index: 10;
}

:host ::ng-deep .sidebar-footer nav {
  position: static !important;
  bottom: auto !important;
  left: auto !important;
  width: auto !important;
  background: transparent !important;
  z-index: auto !important;
}

/* :host ::ng-deep .sidebar-footer nav span {
  color: #94a3b8 !important;
  padding: 0 !important;
  float: none !important;
  font-size: 12px !important;
} */

:host ::ng-deep .sidebar-footer nav a {
  color: #3b82f6 !important;
  font-size: 12px !important;
}

/* Main Section (header + content) */
.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #2e323b;
}

/* Main Content Area */
.content-area {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder img {
  width: 300px;
  opacity: 0.8;
}
.layout-buttons {
  margin-bottom: 10px;
  text-align: center;
}

.video-grid {
  display: grid;
  grid-gap: 4px;
  width: 100%;
  height: 100%;
}

.video-cell {
  background: #000;
  position: relative;
}

.video-elem {
  /* object-fit: cover; */
  object-fit: unset;
  width: 100%;
  max-height: 850px !important;
}

.dropdown-menu-open {
  position: absolute;
  bottom: 100%; /* behaves like drop-up */
  left: 0;
  background-color: #1e2129;
  min-width: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  z-index: 1000;
  border: 1px solid #323845;
}

.dropdown-menu-open li a {
  display: block;
  padding: 5px 8px;
  color: white;
  text-decoration: none;
}

.dropdown-menu-open li a:hover {
  background-color: #0078d7;
}

.recording-progress,
.motion-progress {
  position: relative;
  height: 20px; /* required */
}

.recording-section {
  display: inline-block;
  height: 100%; /* <— VERY IMPORTANT */
  background-color: #fcb614; /* or any visible color */
  cursor: pointer;
  position: absolute;
}

.motion-section {
  display: inline-block;
  height: 100%; /* <— VERY IMPORTANT */
  background-color: #ff0000; /* or any visible color */
  cursor: pointer;
  position: absolute;
}

.video-container-centeredOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Don't block mouse */
}
