<div class="custom-main">

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>

  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 screen-center-set-password" style="width: 50%; padding: 0px;">

    <!-- Loading -->
    
    @if(isCheckingKey) {
      <div class="text-center" style="margin-top: 100px; color: #fcb614;">
        <img src="/images/loadinghome.gif" alt="Loading..." class="loader-img">
      </div>
    }
    
<!-- *ngIf="!isCheckingKey && isKeyValid" -->
    <!-- Form -->
    @if(!isCheckingKey && isKeyValid) {
      <div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8 text-center">
            <img src="/images/newvtplLogo.png" width="200" height="200"/>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

          <form [formGroup]="setPasswordForm" class="col-lg-6 col-md-8 col-sm-10 col-xs-12" (ngSubmit)="save()">

            <div class="password-wrapper">
              <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-text-color" style="margin-top: 24px;">New Password</label> 
              <input
                  id="new-password-field"
                  [type]="showNew ? 'text' : 'password'"
                  autocomplete="off"
                  class="form-control login-input"
                  placeholder="New Password"
                  formControlName="newpassword"
              />
              <span (click)="toggleNewPassword()" class="fa fa-fw field-icon toggle-password fa-eye" [ngClass]="showNew ? 'fa-eye-slash' : 'fa-eye'"></span>
              @if (submitted && setPasswordForm.controls['newpassword'].errors) {
                <div style="color:#b00020;font-size:12px;margin-top:4px;">
                    @if (setPasswordForm.controls['newpassword'].errors['required']) {<span>New Password is required.</span>}
                    @if (setPasswordForm.controls['newpassword'].errors['pattern']) {<span>Password must be 8-12 chars with 1 uppercase, 1 lowercase, 1 number, and 1 special character.</span>}
                </div>
              }
            </div>

            <!-- Confirm Password -->
            <div class="password-wrapper">
                <label class="control-label col-lg-12 col-md-12 col-sm-12 col-xs-12 custom-text-color" style="margin-top: 24px;">Confirm New Password</label>
                <input
                    id="confirm-password-field"
                    [type]="showConfirm ? 'text' : 'password'"
                    autocomplete="off"
                    class="form-control login-input"
                    placeholder="Confirm New Password"
                    formControlName="confirmPassword"
                />
                <span (click)="toggleConfirmNewPassword()" class="fa field-icon toggle-password" [ngClass]="showConfirm ? 'fa-eye-slash' : 'fa-eye'"></span>
                @if (submitted && setPasswordForm.controls['confirmPassword'].errors) {
                  <div style="color:#b00020;font-size:12px;margin-top:4px;">
                    @if (setPasswordForm.controls['confirmPassword'].errors['required']) {<span>Confirm New Password is required.</span>}
                    @if (setPasswordForm.controls['confirmPassword'].errors['pattern']) {<span>Password must be 8-12 chars with 1 uppercase, 1 lowercase, 1 number, and 1 special character.</span>}
                  </div>
                }
                @if (submitted && setPasswordForm.get('newpassword')?.value !== setPasswordForm.get('confirmPassword')?.value) {
                  <div style="color:#b00020;font-size:12px;margin-top:4px;">
                      <span>New Password and Confirm New Password must be same.</span>
                  </div>
                }
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color: #28a745; margin-top: 24px;">{{ success_message }}</div>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: flex; justify-content: center; margin-bottom: 45px;">
              <button type="submit" style="width: 73px; background: #0078D7;">Save</button>
            </div>
          </form>


          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
        </div>

      </div>
    }

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1"></div>
</div>
<app-footer></app-footer>
