.password-wrapper {
  position: relative; /* Makes icon relative to this container */
}

.password-wrapper .field-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  color: #ffffff;
}


button.toggle-password {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #2563eb;
  cursor: pointer;
}

button.toggle-new-password {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #2563eb;
  cursor: pointer;
}

button.toggle-confirm-new-password {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #2563eb;
  cursor: pointer;
}